[submodule ".emacs.d/elisp/align-f90"]
	path = .emacs.d/elisp/align-f90
	url = git@github.com:gthomsen/align-f90.git
	branch = master
[submodule ".emacs.d/elisp/matlab"]
	path = .emacs.d/elisp/matlab
	url = git://git.code.sf.net/p/matlab-emacs/src
	branch = master
[submodule ".emacs.d/elisp/mirror"]
	path = .emacs.d/elisp/mirror
	url = git@github.com:gthomsen/emacs-packages-mirror.git
	branch = master
[submodule ".emacs.d/elisp/markdown-mode"]
	path = .emacs.d/elisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
	branch = master
