[submodule ".emacs.d/elisp/align-f90"]
	path = .emacs.d/elisp/align-f90
	url = git@github.com:gthomsen/align-f90.git
	branch = master
[submodule ".emacs.d/elisp/matlab"]
	path = .emacs.d/elisp/matlab
	url = git://git.code.sf.net/p/matlab-emacs/src
	branch = master
[submodule ".emacs.d/elisp/mirror"]
	path = .emacs.d/elisp/mirror
	url = git@github.com:gthomsen/emacs-packages-mirror.git
	branch = master
[submodule ".emacs.d/elisp/markdown-mode"]
	path = .emacs.d/elisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
	branch = master
[submodule ".emacs.d/elisp/gitsum"]
	path = .emacs.d/elisp/gitsum
	url = git@github.com:chneukirchen/gitsum.git
	branch = master
[submodule ".emacs.d/elisp/flymake-easy"]
	path = .emacs.d/elisp/flymake-easy
	url = git@github.com:purcell/flymake-easy.git
	branch = master
[submodule ".emacs.d/elisp/flymake-python-pyflakes"]
	path = .emacs.d/elisp/flymake-python-pyflakes
	url = git@github.com:purcell/flymake-python-pyflakes.git
	branch = master
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
	branch = master
[submodule ".emacs.d/popup"]
	path = .emacs.d/popup
	url = git@github.com:auto-complete/popup-el.git
	branch = master
[submodule ".emacs.d/jedi"]
	path = .emacs.d/jedi
	url = git@github.com:tkf/emacs-jedi.git
	branch = master
[submodule ".emacs.d/epc"]
	path = .emacs.d/epc
	url = git@github.com:kiwanami/emacs-epc.git
	branch = master
[submodule ".emacs.d/deferred"]
	path = .emacs.d/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
	branch = master
[submodule ".emacs.d/ctable"]
	path = .emacs.d/ctable
	url = git@github.com:kiwanami/emacs-ctable.git
	branch = master
[submodule ".emacs.d/elisp/auto-complete"]
	path = .emacs.d/elisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
	branch = master
[submodule ".emacs.d/elisp/popup"]
	path = .emacs.d/elisp/popup
	url = git@github.com:auto-complete/popup-el.git
	branch = master
[submodule ".emacs.d/elisp/jedi"]
	path = .emacs.d/elisp/jedi
	url = git@github.com:tkf/emacs-jedi.git
	branch = master
[submodule ".emacs.d/elisp/epc"]
	path = .emacs.d/elisp/epc
	url = git@github.com:kiwanami/emacs-epc.git
	branch = master
[submodule ".emacs.d/elisp/deferred"]
	path = .emacs.d/elisp/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
	branch = master
[submodule ".emacs.d/elisp/ctable"]
	path = .emacs.d/elisp/ctable
	url = git@github.com:kiwanami/emacs-ctable.git
	branch = master
[submodule ".emacs.d/elisp/python-environment"]
	path = .emacs.d/elisp/python-environment
	url = git@github.com:tkf/emacs-python-environment.git
	branch = master
[submodule ".emacs.d/elisp/chrome-editing"]
	path = .emacs.d/elisp/chrome-editing
	url = git@github.com:stsquad/emacs_chrome.git
	branch = master
[submodule ".emacs.d/elisp/mediawiki"]
	path = .emacs.d/elisp/mediawiki
	url = git@github.com:hexmode/mediawiki-el.git
	branch = master
[submodule ".emacs.d/elisp/fuzzy"]
	path = .emacs.d/elisp/fuzzy
	url = git@github.com:auto-complete/fuzzy-el.git
	branch = master
[submodule ".emacs.d/elisp/request"]
	path = .emacs.d/elisp/request
	url = git@github.com:tkf/emacs-request.git
	branch = master
[submodule ".emacs.d/elisp/websocket"]
	path = .emacs.d/elisp/websocket
	url = git@github.com:ahyatt/emacs-websocket.git
	branch = master
[submodule ".emacs.d/elisp/emacs-ipython-notebook"]
	path = .emacs.d/elisp/emacs-ipython-notebook
	url = git@github.com:millejoh/emacs-ipython-notebook.git
	branch = master
