[user]
    name  = Greg Thomsen
    email = gthomsen@gmail.com

[alias]
    com  = commit
    di   = diff
    st   = status
    stat = status

[push]
    default = simple

[commit]
    template = ~/.gittemplate
